{{define "head"}}
<title>Source definition</title>
{{end}}

{{define "body"}}
<h1>Source definition</h1>
<table>
  <tr>
    {{range $index, $value := index .Rows 0}}
    <th>
      <select name="field_{{$index}}">
	<option value=""></option>
	<option value="id">Record ID</option>
	<option value="first_name">First name</option>
	<option value="last_name">Last name</option>
	<option value="middle_initial">Middle initial</option>
	<option value="city">City</option>
	<option value="birth_year">Birth year</option>
	<option value="birth_month">Birth month</option>
	<option value="birth_day">Birth day</option>
      </select>
    </th>
    {{end}}
  </tr>

  </tr>
  {{range .Rows}}
  <tr>
    {{range .}}
    <td>{{.}}</td>
    {{end}}
  </tr>
  {{end}}
</table>



{{end}}
