<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/_css">
    <title>Title</title>
  </head>
  <body>
    <div id="menubar">
      <div class="row">
	<div class="brand">Phosphorus</div>
      </div>
    </div>
    <div id="main">
      <div class="row">
	<table>
	  <tr>
	    <th>First name</th>
	    <th>Last name</th>
	    <th>Middle name</th>
	    <th>Birthday</th>
	    <th>Gender</th>
	    <th>Party</th>
	  </tr>
	  <tr>
	    <td>a</td>
	    <td>b</td>
	    <td>c</td>
	    <td>d</td>
	    <td>e</td>
	    <td>f</td>
	  </tr>
	  <tr>
	    <td>a</td>
	    <td>b</td>
	    <td>c</td>
	    <td>d</td>
	    <td>e</td>
	    <td>f</td>
	  </tr>
	  <tr>
	    <td>a</td>
	    <td>b</td>
	    <td>c</td>
	    <td>d</td>
	    <td>e</td>
	    <td>f</td>
	  </tr>
	  <tr>
	    <td>a</td>
	    <td>b</td>
	    <td>c</td>
	    <td>d</td>
	    <td>e</td>
	    <td>f</td>
	  </tr>
	</table>
      </div>
    </div>
    <div id="footer">
    </div>
    <script src="/_js"></script>
  </body>
</html>
