<!DOCTYPE html>
<html>
  <head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="/_css">
    <title>{{.Title}}</title>
  </head>
  <body>
    <!-- <div id="menuBar">
    <div id="navLeft">
    <a href="/balls">File</a>
    <a href="/dicks">Edit</a>
    <a href="/dongs">View</a>
    <a href="/dongs">Special</a>
    </div>

    <div id="navRight">
    <a href="/dongs">Byegurl</a>
    </div>
    </div> -->

    <div class="container">
      <h1>Phosphorus</h1>
      <h2>Identity match server</h2>


    </div>

    <div class="container">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum justo vitae augue facilisis pretium. Etiam et arcu turpis. Maecenas ac aliquet nibh. Duis elementum, mauris a sagittis hendrerit, odio elit vestibulum dolor, gravida eleifend est felis eget nisl. Aliquam ac magna ac dolor pharetra pharetra. Nullam porta eros lectus, ornare fermentum libero dignissim vel.</p>
      <div class="cta">
	If you're ready, contact us.
      </div>
    </div>

    <div class="footer">
      <div class="container">
	balls
      </div>
    </div>
    <script src="/_js"></script>
  </body>
</html>
