<!DOCTYPE html>
<html>
  <head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="/_css">
    <title>{{.Title}}</title>
  </head>
  <body class="login">
    <!-- <div id="menuBar">
    <div id="navLeft">
    <a href="/balls">File</a>
    <a href="/dicks">Edit</a>
    <a href="/dongs">View</a>
    <a href="/dongs">Special</a>
    </div>

    <div id="navRight">
    <a href="/dongs">Byegurl</a>
    </div>
    </div> -->
    <!-- <div id="diamond">
    </div> -->

    <div id="hi">
      <div class="container">
	<div class="inner">
	  <h1 class="login">Phosphorus</h1>
	</div>
      </div>
    </div>
    <div class="container">
      <!-- <h2>Login</h2> -->
      <div class="inner">
      <form method="post" id="login">

	<label>
	  Username
	  <input type="text">
	</label>

	<label>
	  Password
	  <input type="password">
	</label>

	<label>
	  <input type="checkbox">
	  Remember me
	</label>

	<input type="submit" value="Sign in">
      </form>
      </div>
    </div>

    <!-- <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum justo vitae augue facilisis pretium. Etiam et arcu turpis. Maecenas ac aliquet nibh. Duis elementum, mauris a sagittis hendrerit, odio elit vestibulum dolor, gravida eleifend est felis eget nisl. Aliquam ac magna ac dolor pharetra pharetra. Nullam porta eros lectus, ornare fermentum libero dignissim vel.</p>
    <div class="cta">
    If you're ready, contact us.
    </div>
    </div> -->

    <div class="footer">
      <div class="container">
	Copyright &copy; 2014 William St. Clair
      </div>
    </div>
    <script src="/_js"></script>
  </body>
</html>
